@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
    font-size: var(--font-size);
    font-family: 'Libre Franklin', sans-serif;
}

h1 {
    font-weight: 300;
    color: var(--grey);
    font-size: 1.7rem;
}

.soon {
    font-weight: 700;
    color: #000;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: var(--blue);
    font-weight: 600;
}